* text=auto
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
*.sh text eol=lf

*.cs linguist-language=C#
samples/dotnet/**/*.cs linguist-detectable=true
samples/dotnet/**/*.cs linguist-documentation=false

*.java linguist-language=Java
samples/java/**/*.java linguist-detectable=true
samples/java/**/*.java linguist-documentation=false