* text=auto
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
*.sh text eol=lf

*.cs linguist-language=C#
*.csproj linguist-language=C#
*.sln linguist-language=C#

samples/dotnet/**/*.cs linguist-language=C#
samples/dotnet/**/*.csproj linguist-language=C#
samples/dotnet/*.sln linguist-language=C#